/*
	-----------------------------------------------------------------
	Eric Meyer's Reset v2.0
	-----------------------------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	-----------------------------------------------------------------
	Rules
	-----------------------------------------------------------------
*/

*{
	box-sizing: border-box;
}

/*
	-----------------------------------------------------------------
	Page structure
	-----------------------------------------------------------------
*/

.wrapper{
	max-width: 1260px;
	min-width: 600px;
	background:white;
	padding: 50px 90px 164px 90px;
	margin:auto;
}

.header{
margin-left: -3.5px;
margin-bottom: 40px;
font-family: Arial;
font-size: 48px;
font-weight: bold;
line-height: 37px;
color: rgba(26, 27, 29, 1);
text-align: left;
}


.introduction{
min-width: 600px;
max-width: 1260px;
margin-bottom: 80px;
font-family: Arial;
font-size: 14px;
color: rgba(26, 27, 29, 1);
text-align: left;
}

.container{
	position: relative;
	background-color: white;
	min-width: 600px;
	max-width: 1260px;
	margin-bottom: 80px;
}

/*
	-----------------------------------------------------------------
	Images
	-----------------------------------------------------------------
*/

.side-image{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position:absolute;
}

.side-image-position-1{
	left:0;
	top:0;
	right:50%;
	bottom:0;
	margin-right:20px;
}

.side-image-position-2{
	right:0;
	top:0;
	left:50%;
	min-height: 90%;
	margin-left:20px;
}

.side-image-position-3{
	left:0;
	top:0;
	right:50%;
	min-height: 90%;
	margin-right:20px;
}

.small-image-1{
	position: relative;
	max-width: 610px;
	top:0;
	left:-20px;
	height:150px;
	margin-right:50%;
	background-image: url("images/image-3.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-left:20px;
	border-bottom:9px solid white;
}

.small-image-container{
	position: relative;
	max-width: 610px;
	bottom:0;
	right:0;
	left:20px;
	height:150px;
	margin-left:50%;
	margin-right: 20px;
}

.small-image-3{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width: 50%;
	border-right: 9px solid white;
	border-top: 9px solid white;
	background-image: url("images/image-1.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.small-image-4{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	width: 50%;
	border-left: 9px solid white;
	border-top: 9px solid white;
	background-image: url("images/image.png");
	background-size: cover;
	background-repeat: no-repeat;
}

/*
	-----------------------------------------------------------------
	Textbox
	-----------------------------------------------------------------
*/

.textbox{
	box-sizing: border-box;
	width: 50%;
	padding:54px 45px 47px 45px;
}

.textbox-position-1{
	position: relative;
	top:0;
	right:0;
	left:50%;
	border-left:20px solid white;
}

.textbox-position-2{
	left:0;
	right:50%;
	bottom:0;
	height: 50%;
	border-right:20px solid white;
	border-top:9px solid white;
}

.textbox-position-3{
	top:0;
	right:0;
	margin-left:50%;
	border-left:20px solid white;
	border-bottom:9px solid white;
}

.background-color-1{
	background-color: rgba(232, 195, 20, 1);
}

.background-color-2{
	background-color: rgba(238, 238, 238, 1);
}

/*
	-----------------------------------------------------------------
	Article
	-----------------------------------------------------------------
*/

.main-article{
font-family: Arial;
font-size: 16px;
text-align: left;
}

.text-author{
	margin-top:28px;
	font-family: Arial;
	font-size:24px;
	text-align: left;
}

/*
	-----------------------------------------------------------------
	Info
	-----------------------------------------------------------------
*/

.info{
	box-sizing: border-box;
	background-color: white;
	padding-top: 44px;
}

.info-position-1{
	bottom:0;
	right:0;
	margin-left:50%;
	width: 50%;
	padding-left:20px;
}

.info-position-2{
	position: absolute;
	width: 50%;
	bottom:0;
	right:0;
	padding-left:20px;
}

.info-position-3{
	position: absolute;
	bottom:0;
	left:0;
	width: 50%;
	padding-right:20px;
}

.address{
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
}

.shop-btn{
	height: 46px;
	width: 239px;
	margin-top:12px;
	color: rgba(27, 199, 197, 1);
	background-color: white;
	border: 3px solid rgba(27, 199, 197, 1);
	text-align: center;
	font-family: Arial;
	font-size: 16px;
	line-height: 46px;
	font-weight: bold;
	text-transform: uppercase;
	display:inline-block;
	vertical-align: bottom;
}




